.linknav ul li{
    color: #000000;
    list-style-type: none;
    display: inline;
    text-align: center;
    padding-left: 30px;
    padding-right: 10px;
    font-size: 20px;
    line-height: 3em;
}

.linknav ul li a {
    color: #000000;   
    font-weight: 100;
}