.linknav ul li{
    color: #ffffff;
    list-style-type: none;
    display: inline;
    text-align: center;
    padding-left: 30px;
    padding-right: 10px;
    font-size: 20px;
    line-height: 3em;
}

.linknav ul li a {
    color: #ffffff;   
    font-weight: 100;
}

.light {
    color: #ffffff;  
    font-weight: 100;
    font-size: 18px;
}

.home {
    padding-left: 50px;
    font-size: 30px;
}

.HomeTop {
    background-image: url(img/HomeOne.jpg);
    background-repeat: no-repeat;
    background-size: cover; 
    margin-left:auto;
    margin-right:auto;
    padding-left:0;
    padding-right:0;
}

.UsersTop {
    background-image: url(img/HomeThree.jpg);
    background-repeat: no-repeat;
    background-size: cover; 
    margin-left:auto;
    margin-right:auto;
    padding-left:0;
    padding-right:0;
}

.DevTop {
    background-image: url(img/HomeFive.jpg);
    background-repeat: no-repeat;
    background-size: cover; 
    margin-left:auto;
    margin-right:auto;
    padding-left:0;
    padding-right:0;
}


.center {
    width: 700px;
    margin: auto;
    text-align: center;
}

.bodytext {
    text-align: center;
    color: #000000;
}

.SecondHalf {
    background-image: url(img/HomeTwo.jpg);
    background-repeat: no-repeat;
    background-size: cover; 
    margin-left:auto;
    margin-right:auto;
    padding-left:0;
    padding-right:0;
}

.UsersHalf {
    background-image: url(img/HomeFour.jpg);
    background-repeat: no-repeat;
    background-size: cover; 
    margin-left:auto;
    margin-right:auto;
    padding-left:0;
    padding-right:0;
}

.DevHalf {
    background-image: url(img/HomeSix.jpg);
    background-repeat: no-repeat;
    background-size: cover; 
    margin-left:auto;
    margin-right:auto;
    padding-left:0;
    padding-right:0;
}


.footerpadding {
    padding-left: 50px;
}

.footerrightpadding {
    padding-right: 50px;
}
