.linknav ul li{
    color: #ffffff;
    list-style-type: none;
    display: inline;
    text-align: center;
    padding-left: 30px;
    padding-right: 10px;
    font-size: 20px;
    line-height: 3em;
}

.linknav ul li a {
    color: #ffffff;   
    font-weight: 100;
}

.light {
    color: #ffffff;  
    font-weight: 100;
}

.HomeTop {
    background-image: url('img/HomeOne.jpg');
    background-repeat: no-repeat;
    background-size: cover; 
}